@import "tailwindcss";

:root {
  --background: #F3F4F6;
  --primary: #213448;
  --secondary: #DBEAFE;
  --third: #D1D5DB;
  --foreground: #1F2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --font-sans: var(--font-inter);
}

body {
  background: radial-gradient(circle at 20% 40%, rgba(186, 222, 253, 0.2) 10%, transparent 50%);
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  html {
    scroll-behavior: smooth;
  };
  h1 {
    @apply text-2xl max-md:text-xl font-semibold;
  };
  h2 {
    @apply text-xl max-md:text-lg font-medium;
  };
  p {
    @apply text-gray-500 text-sm max-sm:text-xs;
  };
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .btn-primary {
    @apply bg-primary text-white font-semibold px-4 py-3 rounded-lg hover:bg-[#0F172A] transition-colors shadow-lg shadow-[#1E293B]/10 focus:scale-[0.98] disabled:pointer-events-none disabled:opacity-90 text-sm max-sm:text-xs;
  };
}